* {
	p: #2f4858;
	s: #ffcb48;
	h: #fefefe;
	r: #c8161d;
}

.frame {
	-fx-pref-width: 1100px;
	-fx-pref-height: 650px;
}

.side-bar {
	-fx-background-color: p;
	-fx-pref-width: 200px;
}

.app-logo {
	-fx-pref-height: 70px;
}

.app-logo-label, .svg-path {
	-fx-fill: s;
	-fx-text-fill: s;
	-fx-font-size: 26px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
}

.menu-btn {
	-fx-pref-height: 50px;
}

.menu-btn Label, .menu-btn SVGPath {
	-fx-fill: s;
	-fx-text-fill: s;
	-fx-font-size: 15px;
	-fx-font-family: "Cascadia Code PL"
}

.menu-btn:hover Label, .menu-btn:hover SVGPath {
	-fx-fill: h;
	-fx-text-fill: h;
}

.menu-btn:hover {
	-fx-cursor: hand;
}

.active Label, .active SVGPath {
	-fx-fill: h;
	-fx-text-fill: h;
}

.view-title-label {
	-fx-text-fill: p;
	-fx-font-size: 24px;
	-fx-font-family: "JetBrains Mono";
	-fx-font-weight: bold;
}

.exit-btn {
	-fx-spacing: 4px;
}

.exit-btn > Label, .exit-btn > SVGPath {
	-fx-fill: p;
	-fx-text-fill: p;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
}

.exit-btn:hover > Label, .exit-btn:hover > SVGPath {
	-fx-fill: r;
	-fx-text-fill: r;
}

.exit-btn:hover {
	-fx-cursor: hand;
}

.wid20 {
	-fx-pref-width: 25px;
}

.spac5 {
	-fx-spacing: 5px;
}

.spac10 {
	-fx-spacing: 10px;
}

.pad10 {
	-fx-padding: 10px;
}

.ali-c {
	-fx-alignment: center;
}

.ali-cl {
	-fx-alignment: center-left;
}